<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{5} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="fr.gwan">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger
		name="org.springframework.web.filter.CommonsRequestLoggingFilter">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.web.client.RestTemplate">
		<level value="DEBUG" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.zalando.logbook.Logbook">
		<level value="TRACE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>